@charset "UTF-8";
@import url("/umat/resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css");
a.linkUpdate {
  color: red; }

.placeholder {
  height: 120px !important;
  text-align: center;
  vertical-align: middle;
  line-height: 117px; }

/* -------------------------------------------------------------
 *  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
 *  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
 *
 *  List of CSS3 Sass Mixins File to be @imported and @included as you need
 *
 *  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
 *  ENDING css files
 *
 *  note: All CSS3 Properties are being supported by Safari 5
 *  more info: http://www.findmebyip.com/litmus/#css3-properties
 *
 *------------------------------------------------------------- */
/* ==========================================================================
 * Fonts.scss font imports
 * ========================================================================== */
/*FontAwesome */
/*Oswald */
@font-face {
  font-family: "Oswald";
  src: url("/umat/resources/fonts/Oswald/Oswald-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: "Oswald";
  src: url("/umat/resources/fonts/Oswald/Oswald-Bold.ttf");
  font-weight: 700; }
@font-face {
  font-family: "Oswald";
  src: url("/umat/resources/fonts/Oswald/Oswald-Light.ttf");
  font-weight: 300; }
/*Roboto */
@font-face {
  font-family: "Roboto";
  src: url("/umat/resources/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: "Roboto";
  src: url("/umat/resources/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700; }
@font-face {
  font-family: "Roboto";
  src: url("/umat/resources/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300; }
@font-face {
  font-family: "Roboto";
  src: url("/umat/resources/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 500; }
/* ==========================================================================
 * Variables.scss Style variables
 * ========================================================================== */
/*Fonts */
/*Colors */
/*Sizes */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* ==========================================================================
 * Assets.scss buttons, img, showcases
 * ========================================================================== */
.btn, .btnCustom, .btnContacte, .btnSend {
  font-family: "Arial", Sans-serif;
  outline: none !important;
  border-radius: 3px; }
  .btn:focus, .btnCustom:focus, .btnContacte:focus, .btnSend:focus, .btn:visited, .btnCustom:visited, .btnContacte:visited, .btnSend:visited, .btn:focus, .btnCustom:focus, .btnContacte:focus, .btnSend:focus, .btn:active, .btnCustom:active, .btnContacte:active, .btnSend:active {
    outline: none !important; }

.btnCustom, .btnContacte, .btnSend {
  color: #fff;
  background-color: #C99C3D;
  border: 0; }
  .btnCustom:hover, .btnContacte:hover, .btnSend:hover {
    background-color: #B58C36;
    color: #fff; }
  .btnCustom:focus, .btnContacte:focus, .btnSend:focus, .btnCustom:visited, .btnContacte:visited, .btnSend:visited, .btnCustom:focus, .btnContacte:focus, .btnSend:focus, .btnCustom:active, .btnContacte:active, .btnSend:active {
    background-color: #92722D;
    color: #fff; }

.btnContacte {
  border-radius: 3px;
  width: 200px;
  font-family: "Oswald", Sans-serif; }

.btnSend {
  width: 100%;
  padding: 6px 20px; }

.formControl {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font: 400 14px "Roboto", Sans-serif;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 2px 5px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 2px 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 2px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -khtml-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -ms-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .formControl:focus, .formControl:visited, .formControl:focus, .formControl:active {
    border-color: #C99C3D;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 0 8px rgba(201, 156, 61, 0.6) 5px rgba(0, 0, 0, 0.4);
    -khtml-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 0 8px rgba(201, 156, 61, 0.6) 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 0 8px rgba(201, 156, 61, 0.6) 5px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 0 8px rgba(201, 156, 61, 0.6) 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 0 8px rgba(201, 156, 61, 0.6) 5px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 0 8px rgba(201, 156, 61, 0.6) 5px rgba(0, 0, 0, 0.4); }
  .formControl textarea {
    max-width: 100%;
    max-height: 100px;
    height: 100px; }

.form-group {
  margin-bottom: 10px;
  color: #fff; }

.stylizedImg {
  overflow: hidden;
  position: relative; }
  .stylizedImg img {
    width: 100%;
    min-height: 80px;
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    -khtml-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .stylizedImg:hover img {
    -webkit-transform: scale(1.3);
    -khtml-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3); }

.navbar-umat {
  list-style: none;
  height: 100%;
  margin-bottom: 0;
  min-height: initial;
  background-color: #000;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0; }
  .navbar-umat li {
    font-family: "Oswald", Sans-serif;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase; }

.navbar-collapse {
  padding: 0; }

.navbar-nav {
  margin: 0; }
  .navbar-nav > li > a {
    padding: 12px 20px;
    text-decoration: none;
    color: #fff;
    text-align: left; }
    .navbar-nav > li > a:hover, .navbar-nav > li > a:visited {
      background-color: black; }
  .navbar-nav .btn, .navbar-nav .btnCustom, .navbar-nav .btnContacte, .navbar-nav .btnSend {
    display: block;
    padding: 5px 20px;
    margin: 6px 9px;
    text-decoration: none;
    color: #C99C3D;
    background-color: white;
    font-family: "Oswald", Sans-serif;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase; }
    .navbar-nav .btn:hover, .navbar-nav .btnCustom:hover, .navbar-nav .btnContacte:hover, .navbar-nav .btnSend:hover, .navbar-nav .btn:active, .navbar-nav .btnCustom:active, .navbar-nav .btnContacte:active, .navbar-nav .btnSend:active {
      color: #fff;
      background-color: #C99C3D; }

.searchNav {
  margin: 0;
  padding: 0 5px; }
  .searchNav input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0; }
  .searchNav .btn-default {
    display: initial;
    color: #555;
    padding: 6px;
    margin: 5px 0 5px -4px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    .searchNav .btn-default:hover {
      color: #555;
      background-color: #fff;
      border-color: #ccc; }

/* Estil desplegables */
.dropdown-menu {
  background-color: #C99C3D;
  padding: 0;
  margin: 0;
  border: 0; }
  .dropdown-menu > li > a {
    display: block;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    text-align: left; }
    .dropdown-menu > li > a:hover {
      background-color: #000;
      color: #fff; }
  .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #000;
    color: #fff; }

/* Responsive menu */
.navbar-header .navbar-toggle {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5); }
.navbar-header .icon-bar {
  background-color: rgba(255, 255, 255, 0.8); }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #C99C3D;
  border-color: #000; }

/* Desplega submenus amb :hover en comptes de click */
@media (min-width: 768px) {
  /*Override click functionality */
  .open > .dropdown-menu {
    display: none; }

  .nav .open > a:focus {
    color: #fff;
    background-color: #000; }

  .sidebar-nav {
    padding: 9px 0; }

  .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px; }
  .dropdown-menu li:hover .sub-menu {
    visibility: visible; }

  .dropdown:hover .dropdown-menu {
    display: block; }

  .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu {
    margin-top: 0; }

  .navbar .dropdown-menu {
    margin-top: 0; }
  .navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px; }
  .navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px; } }
.articles tr {
  padding: 10px;
  border-bottom: 1px solid #C7C4C2; }
.articles h2 {
  font: 300 24px "Oswald", Sans-serif;
  color: #C99C3D;
  margin: 0 0 15px 0; }

.articleSubtitle {
  font-weight: bold; }

.articleDate {
  font-family: "Oswald", Sans-serif;
  text-indent: 1px;
  color: #C7C4C2;
  margin-right: 1px;
  padding-right: 5px;
  border-right: 1px solid #C7C4C2; }

.articleBody {
  display: inline;
  text-align: justify; }

.articleMore {
  font: 400 16px "Arial", Sans-serif;
  color: #C99C3D; }

.moreNews {
  width: 100%;
  background-color: rgba(199, 196, 194, 0.3);
  -webkit-border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  font-size: 19px;
  color: #C7C4C2; }
  .moreNews:hover {
    color: #C99C3D;
    background-color: rgba(199, 196, 194, 0.5); }

#llistaNoticiesInici {
  margin-top: 0 !important; }
  #llistaNoticiesInici thead {
    display: none; }

#llistaNoticiesInici_wrapper .row:first-child, #llistaNoticiesInici_wrapper .row:last-child {
  display: none; }

#llistaNoticies th, #llistaNoticiesInici th {
  display: none; }
#llistaNoticies td:nth-child(2), #llistaNoticiesInici td:nth-child(2) {
  vertical-align: middle;
  text-align: center; }

.noticia {
  margin-bottom: 150px; }
  .noticia div {
    padding: 8px; }

html {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: inherit;
  -khtml-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  -o-box-sizing: inherit;
  box-sizing: inherit; }
  *:before, *:after {
    -webkit-box-sizing: inherit;
    -khtml-box-sizing: inherit;
    -moz-box-sizing: inherit;
    -ms-box-sizing: inherit;
    -o-box-sizing: inherit;
    box-sizing: inherit; }

body {
  background-color: #CFC9C5;
  background-image: url("../img/noise.png"); }

h1, h2, h3, h4 {
  font-family: "Oswald", Sans-serif;
  font-weight: 700; }

h1 {
  font-size: 24px;
  margin-top: 15px; }

p {
  text-align: justify;
  font: 400 16px "Arial", Sans-serif; }

a {
  color: #C99C3D; }
  a:hover, a:visited, a:focus {
    color: #B58C36; }

ul > li {
  text-align: justify;
  font: 200 16px "Arial", Sans-serif; }

span.hz {
  display: block;
  border-top: 1px solid #C7C4C2;
  margin-top: 10px; }
span.hzb {
  display: block;
  border-top: 1px solid #fff; }

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: initial; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.padding-vertical {
  padding-top: 20px;
  padding-bottom: 20px; }

.minor-text {
  font-size: 14px; }

/* Bootstrap generic mods */
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
  width: 100%; }

.carousel-control.right, .carousel-control.left {
  background-image: none; }

.warp {
  -webkit-box-shadow: 0 45px 100px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 45px 100px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 45px 100px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 45px 100px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 45px 100px rgba(0, 0, 0, 0.2);
  box-shadow: 0 45px 100px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #f5f4f3;
  overflow: hidden;
  border: 1px solid #BBB7B3; }

.pagination .active a, .pagination .active a:focus, .pagination .active a:hover, .pagination .active span, .pagination .active span:focus, .pagination .active span:hover {
  background-color: #C99C3D;
  border-color: #C99C3D; }
.pagination li a, .pagination li a:focus, .pagination li a:hover, .pagination li span, .pagination li span:focus, .pagination li span:hover {
  color: #C99C3D;
  outline-color: #C99C3D; }

/* Logo section */
#logo {
  position: relative;
  background-color: #C99C3D; }
  #logo img {
    z-index: 1; }
  #logo embed {
    position: absolute;
    right: 0; }

/* Lang section */
#lang {
  font: 300 14px "Oswald", Sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #6A6765; }

.langHolder {
  margin: 10px 0;
  display: inline-block;
  width: 100%;
  text-align: right; }
  .langHolder a {
    color: #000; }
    .langHolder a.active {
      text-decoration: underline; }
  .langHolder span {
    color: #fff;
    margin: 0 10px; }

/*  Header Links */
#headerViews.homeLocal {
  border-bottom: 4px solid #C99C3D; }
#headerViews h1 {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff; }
#headerViews .stylizedImg {
  margin: 0; }

#cartografia_tematica {
  background: url(../img/headerViews/cartografia.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -khtml-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#noticies {
  background: url(../img/headerViews/news.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -khtml-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* Content */
#content {
  padding: 20px 5px 0 5px; }

/* Introduction belongs to temes */
.intro {
  margin-top: 10px; }

/* Relevant */
#relevant {
  padding: 10px; }
  #relevant .stylizedImg {
    max-height: 300px;
    margin: 5px; }

.infoBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  font: 400 20px "Oswald", Sans-serif; }

/* Contacte / Mapa. new section */
#formContact {
  margin: 10px 0; }
  #formContact > div > label {
    font: 400 16px "Roboto", Sans-serif; }

/* Contacte secci├│ nova. contact section */
.contactInfo {
  padding: 0;
  list-style: none; }
  .contactInfo h3 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #C99C3D; }

/* Mapa contacte. contact section */
#map {
  height: 466px;
  width: 100%;
  position: relative; }
  #map iframe {
    position: absolute;
    top: -51px;
    left: 0;
    width: 100%;
    height: 517px;
    border: 0; }

.bg-img {
  width: 100%;
  height: 100%;
  background: url("/umat/resources/img/mapUmatBlur.jpg") center center no-repeat;
  background-size: cover; }

/* Footer */
.footer {
  padding: 20px 10px; }
  .footer p {
    color: #6A6765;
    font: 400 14px "Roboto", Sans-serif;
    text-align: center;
    margin: 0; }

.footerLink {
  color: #fff; }
  .footerLink:hover, .footerLink:visited, .footerLink:focus {
    color: #fff; }

/* ViewTabs. belongs to temes */
.nav-tabs {
  margin-top: 15px;
  border-bottom: 1px solid #C7C4C2; }
  .nav-tabs > li.active > a {
    border: 1px solid #C7C4C2;
    border-bottom-color: transparent; }
    .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
      border: 1px solid #C7C4C2;
      border-bottom-color: transparent; }

.tab-content {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #C7C4C2;
  -webkit-border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: white; }

/* Views. idk->search */
.viewImg {
  margin-top: 15px; }

/* Media query section */
@media (max-width: 1200px) {
  #relevant .stylizedImg {
    height: 200px; } }

/*# sourceMappingURL=main-style.css.map */
