@charset "UTF-8";
@import url("/umat/resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css");
a.linkUpdate {
  color: red; }

.placeholder {
  height: 120px !important;
  text-align: center;
  vertical-align: middle;
  line-height: 117px; }

/* -------------------------------------------------------------
 *  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
 *  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
 *
 *  List of CSS3 Sass Mixins File to be @imported and @included as you need
 *
 *  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
 *  ENDING css files
 *
 *  note: All CSS3 Properties are being supported by Safari 5
 *  more info: http://www.findmebyip.com/litmus/#css3-properties
 *
 *------------------------------------------------------------- */
/* ==========================================================================
 * Fonts.scss font imports
 * ========================================================================== */
/*FontAwesome */
/*Oswald */
@font-face {
  font-family: "Oswald";
  src: url("/umat/resources/fonts/Oswald/Oswald-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: "Oswald";
  src: url("/umat/resources/fonts/Oswald/Oswald-Bold.ttf");
  font-weight: 700; }
@font-face {
  font-family: "Oswald";
  src: url("/umat/resources/fonts/Oswald/Oswald-Light.ttf");
  font-weight: 300; }
/*Roboto */
@font-face {
  font-family: "Roboto";
  src: url("/umat/resources/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: "Roboto";
  src: url("/umat/resources/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700; }
@font-face {
  font-family: "Roboto";
  src: url("/umat/resources/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300; }
@font-face {
  font-family: "Roboto";
  src: url("/umat/resources/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 500; }
/* ==========================================================================
 * Variables.scss Style variables
 * ========================================================================== */
/*Fonts */
/*Colors */
/*Sizes */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* ==========================================================================
 * Assets.scss buttons, img, showcases
 * ========================================================================== */
.btn, .btnCustom, .btnContacte, .btnSend {
  font-family: "Arial", Sans-serif;
  outline: none !important;
  border-radius: 3px; }
  .btn:focus, .btnCustom:focus, .btnContacte:focus, .btnSend:focus, .btn:visited, .btnCustom:visited, .btnContacte:visited, .btnSend:visited, .btn:focus, .btnCustom:focus, .btnContacte:focus, .btnSend:focus, .btn:active, .btnCustom:active, .btnContacte:active, .btnSend:active {
    outline: none !important; }

.btnCustom, .btnContacte, .btnSend {
  color: #fff;
  background-color: #C99C3D;
  border: 0; }
  .btnCustom:hover, .btnContacte:hover, .btnSend:hover {
    background-color: #B58C36;
    color: #fff; }
  .btnCustom:focus, .btnContacte:focus, .btnSend:focus, .btnCustom:visited, .btnContacte:visited, .btnSend:visited, .btnCustom:focus, .btnContacte:focus, .btnSend:focus, .btnCustom:active, .btnContacte:active, .btnSend:active {
    background-color: #92722D;
    color: #fff; }

.btnContacte {
  border-radius: 3px;
  width: 200px;
  font-family: "Oswald", Sans-serif; }

.btnSend {
  width: 100%;
  padding: 6px 20px; }

.formControl {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font: 400 14px "Roboto", Sans-serif;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 2px 5px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 2px 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 2px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -khtml-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -ms-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .formControl:focus, .formControl:visited, .formControl:focus, .formControl:active {
    border-color: #C99C3D;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 0 8px rgba(201, 156, 61, 0.6) 5px rgba(0, 0, 0, 0.4);
    -khtml-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 0 8px rgba(201, 156, 61, 0.6) 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 0 8px rgba(201, 156, 61, 0.6) 5px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 0 8px rgba(201, 156, 61, 0.6) 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 0 8px rgba(201, 156, 61, 0.6) 5px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 0 8px rgba(201, 156, 61, 0.6) 5px rgba(0, 0, 0, 0.4); }
  .formControl textarea {
    max-width: 100%;
    max-height: 100px;
    height: 100px; }

.form-group {
  margin-bottom: 10px;
  color: #fff; }

.stylizedImg {
  overflow: hidden;
  position: relative; }
  .stylizedImg img {
    width: 100%;
    min-height: 80px;
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    -khtml-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .stylizedImg:hover img {
    -webkit-transform: scale(1.3);
    -khtml-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3); }

.tab-content p {
  margin-bottom: 15px; }
  .tab-content p.no-margin {
    margin: 0; }
.tab-content ul {
  padding-left: 20px; }

.dataTables_wrapper .dataTables_length label, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_filter label {
  text-align: justify;
  font-family: Arial, Sans-serif;
  font-size: 16px; }

.dataTables_processing {
  text-align: justify;
  font-family: Arial, Sans-serif;
  font-size: 16px; }

/* -- Geod├¿sia -- */
.mapVertex {
  border: 1px solid #C7C4C2;
  margin: 15px 0;
  height: 600px;
  position: relative;
  overflow: hidden;
  -webkit-transition: height ease-in-out 0.3s;
  -khtml-transition: height ease-in-out 0.3s;
  -moz-transition: height ease-in-out 0.3s;
  -ms-transition: height ease-in-out 0.3s;
  -o-transition: height ease-in-out 0.3s;
  transition: height ease-in-out 0.3s; }
  .mapVertex iframe {
    position: absolute;
    width: 100%;
    border: 0;
    -webkit-transition: height ease-in-out 0.3s;
    -khtml-transition: height ease-in-out 0.3s;
    -moz-transition: height ease-in-out 0.3s;
    -ms-transition: height ease-in-out 0.3s;
    -o-transition: height ease-in-out 0.3s;
    transition: height ease-in-out 0.3s; }

.vertexImg {
  width: 100px;
  margin: 15px 0; }

.vertexHighlight {
  font-style: italic; }

#vertex {
  text-align: justify;
  font: 400 16px "Arial", Sans-serif; }
  #vertex td {
    vertical-align: middle; }
  #vertex a {
    color: #000; }

#descarregaTopografia {
  text-align: justify;
  font: 400 16px "Arial", Sans-serif; }
  #descarregaTopografia thead th {
    padding: 0; }
  #descarregaTopografia td:first-child td {
    border-top: 0; }
  #descarregaTopografia a {
    color: #000; }
  #descarregaTopografia td {
    vertical-align: middle; }

/* -- Topografia -- */
#descarrega h4 {
  font-family: "Arial", Sans-serif;
  margin-top: 0; }

.topografiaSubtitle {
  font: 400 16px "Arial", Sans-serif;
  font-style: italic; }

.DCVseparator {
  border-top: 3px solid #ddd;
  margin-top: 17px;
  padding-top: 13px; }

/*# sourceMappingURL=temes.css.map */
