/* ==========================================================================
   Assets.scss buttons, img, showcases
   ========================================================================== */
.btn
  font-family: $arial
  outline: none !important
  border-radius: 3px
  &:focus, &:visited, &:focus, &:active
    outline: none !important

.btnCustom
  @extend .btn
  color: #fff
  background-color: $goldMain
  border: 0
  &:hover
    background-color: $goldHover
    color: #fff
  &:focus, &:visited, &:focus, &:active
    background-color: $goldFocus
    color: #fff

.btnContacte
  @extend .btnCustom
  border-radius: 3px
  width: 200px
  font-family: $oswald

.btnSend
  @extend .btnCustom
  width: 100%
  padding: 6px 20px

.formControl
  display: block
  width: 100%
  height: 34px
  padding: 6px 12px
  font: 400 $smallText $roboto
  line-height: 1.42857143
  color: #555
  background-color: #fff
  background-image: none
  border: 1px solid #ccc
  +box-shadow(inset 0 1px 1px rgba(#000, 0.075))
  +transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s)
  &:focus, &:visited, &:focus, &:active
    border-color: $goldMain
    outline: 0
    +box-shadow(inset 0 1px 1px rgba(#000, 0.075), 0 0 8px rgba($goldMain, 0.6))
  textarea
    max-width: 100%
    max-height: 100px
    height: 100px

.form-group
  margin-bottom: 10px
  color: #fff

.stylizedImg
  overflow: hidden
  position: relative
  img
    width: 100%
    min-height: 80px
    +transform(scale(1))
    +transition(.3s ease-in-out)
  &:hover img
    +transform(scale(1.3))